Here, making classification model for the Biclassed dataset.

In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
import os

In [2]:
path = os.path.join(os.getcwd(), '..', 'bank-full.csv')
bank_data = pd.read_csv(path)

In [3]:
bank_data.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no

In [4]:
x = bank_data[bank_data.columns[:-1]]
y = bank_data[bank_data.columns[-1]]

In [5]:
x.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown

In [6]:
#sns.pairplot(bank_data, hue = 'y')

In [7]:
y.head()

0    no
1    no
2    no
3    no
4    no
Name: y, dtype: object

Here, i wrote a function which will split data into two seperate dataframes. One is training dataframe and testing dataframe. On the basis of test split percentage.

In [8]:
def train_test_split(x, y, test_split = 0.5, rand_state = 10):
    mask = np.random.rand(x.shape[0]) < test_split
    x_test = x[mask]
    y_test = y[mask]
    x_train = x[~mask]
    y_train = y[~mask]
    return x_train, x_test, y_train, y_test

In [9]:
x_train, x_test, y_train, y_test = train_test_split(x, y, 0.2)

In [10]:
def train_test_split(x, test_split = 0.5, rand_state = 10):
    mask = np.random.rand(x.shape[0]) < test_split
    x_test = x[mask]
    x_train = x[~mask]
    return x_train, x_test

In [11]:
x_train, x_test = train_test_split(bank_data, 0.2)

In [12]:
for column in x.columns.values:
    print ("Column {}".format(column))
    print (x[column].unique())

Column age
[58 44 33 47 35 28 42 43 41 29 53 57 51 45 60 56 32 25 40 39 52 46 36 49
 59 37 50 54 55 48 24 38 31 30 27 34 23 26 61 22 21 20 66 62 83 75 67 70
 65 68 64 69 72 71 19 76 85 63 90 82 73 74 78 80 94 79 77 86 95 81 18 89
 84 87 92 93 88]
Column job
['management' 'technician' 'entrepreneur' 'blue-collar' 'unknown'
 'retired' 'admin.' 'services' 'self-employed' 'unemployed' 'housemaid'
 'student']
Column marital
['married' 'single' 'divorced']
Column education
['tertiary' 'secondary' 'unknown' 'primary']
Column default
['no' 'yes']
Column balance
[ 2143    29     2 ...  8205 14204 16353]
Column housing
['yes' 'no']
Column loan
['no' 'yes']
Column contact
['unknown' 'cellular' 'telephone']
Column day
[ 5  6  7  8  9 12 13 14 15 16 19 20 21 23 26 27 28 29 30  2  3  4 11 17
 18 24 25  1 10 22 31]
Column month
['may' 'jun' 'jul' 'aug' 'oct' 'nov' 'dec' 'jan' 'feb' 'mar' 'apr' 'sep']
Column duration
[ 261  151   76 ... 1298 1246 1556]
Column campaign
[ 1  2  3  5  4  6  7  8  9 10 11 12 13 19 14 24 16 32 18 22 15 17 25 21
 43 51 63 41 26 28 55 50 38 23 20 29 31 37 30 46 27 58 33 35 34 36 39 44]
Column pdays
[ -1 151 166  91  86 143 147  89 140 176 101 174 170 167 195 165 129 188
 196 172 118 119 104 171 117 164 132 131 123 159 186 111 115 116 173 178
 110 152  96 103 150 175 193 181 185 154 145 138 126 180 109 158 168  97
 182 127 130 194 125 105 102  26 179  28 183 155 112 120 137 124 187 190
 113 162 134 169 189   8 144 191 184 177   5  99 133  93  92  10 100 156
 198 106 153 146 128   7 121 160 107  90  27 197 136 139 122 157 149 135
  30 114  98 192 163  34  95 141  31 199  94 108  29 268 247 253 226 244
 239 245 204 231 238 258 230 254 265  71 223 246 250 266 240 205 261 259
 241 260 234 251 225 161 237 262 248 255 220 227 206 224 249 235 228 263
   2 270 232 252 207 200 269 233 256 273 272 242 264 208 214 222 271 203
 221 202 216 201 257 229 210 217  75 213  73  76 267 211 215  77 236  82
   6 209 274   1 243 212 275  80 276   9 279  12 280  88 277  85  84 219
  24  21 282  41 294  49 329 307 303 331 308 300  64 314 287 330 332 302
 323 318 333  60 326 335 313 312 305 325 327 336 309 328 322  39 316 292
 295 310 306 320 317 289  57 321 142 339 301 315 337 334 340 319  17  74
 148 341 299 344 342 324 345 346 304 281 343 338  14 347  15 291 348 349
 285 350 284  25 283 278  81   4  87  83  79  70  13 293  37  78  63  22
 296 355  66  19  35 360 357 354 351 362 358 365 298 286 364 363  47 361
 288 366 356 352 359 297 367 353 368  42 290  67 371 370 369  50  36 373
 374 372 311 375 378  59 379  40  18  43  20  69  38 385  56  55  44 391
  72 390  32  62 399 393  65 377 395 388 389 386  61 412 405 434 394 382
 459 440 397 383  68 461 462 463 422  51 457 430 442 403 454 428 392 410
 401 474 475 477 478  54 476 380 479  45  46 495  58  48 518  52 515 520
 511 536 387 218  33 544 435 436 555 433 446 558 469 616 561 553 384 592
 467 585 480 421 667 626 426 595 381 376 648 521 452 449 633 398  53 460
 670 551 414 557 687 404 651 686 425 504 578 674 416 586 411 756 450 745
 514 417 424 776 396 683 529 439 415 456 407 458 532 481 791 701 531 792
 413 445 535 784 419 455 491 431 542 470 472 717 437   3 782 728 828 524
 562 761 492 775 579 493 464 760 466 465 656 831 490 432 655 427 749 838
 769 587 778 854 779 850 771 594 842 589 603 484 489 486 409 444 680 808
 485 503 690 772 774 526 420 528 500 826 804 508 547 805 541 543 871 550
 530]
Column previous
[  0   3   1   4   2  11  16   6   5  10  12   7  18   9  21   8  14  15
  26  37  13  25  20  27  17  23  38  29  24  51 275  22  19  30  58  28
  32  40  55  35  41]
Column poutcome
['unknown' 'failure' 'other' 'success']

Naive Bayes Classification is a classification algorithm. Where we are using probability of multiple features to predict the class of any probability. 
Naive bayes classifier is based on Naive Bayes Theorem. That theorem is a conditional probability which is gives the probability of any value, Where one even is already happen.

Posterior probability is the probability which comes after performing the operation or we can say posterior probability is the resultant probability. 

Prior probability is the intial probability for a every particular values. 

So,  Formula is:
$$P(A|B) = \frac{P(B|A) P(A)}{P(B)}$$
Where, <br>
$P(A|B)$ is the posterior probability. <br>
$P(A)$ is the prior probability of the class A. <br>
$P(B)$ is the prior probability of the class B. <br>

In our case, we have multiple features or we can say we have multiple values of B.
So, in this case, we always assume that all the features are independent.<br>
The formula is going to modify as.

$$P(class = Y| features...) = \frac{P(features ...| class = Y) P(class = Y)}{P(features...|class = Y)P(class = Y) + P(features... | class N) P(class = N)}$$
<br><br>
$$P\big(class = Y| age = 40\cap job = admin\cap matiral = married \cap education = secondary \cap default = yes \cap balance = 2000 \cap day = 4\cap month = jun\cap duration = 261\cap campaign = 4 \cap pday = 151\cap previous = 5\cap poutcome = other\big) = \frac{P\big(age = 40\cap job = admin\cap matiral = married \cap education = secondary \cap default = yes \cap balance = 2000 \cap day = 4\cap month = jun\cap duration = 261\cap campaign = 4 \cap pday = 151\cap previous = 5\cap poutcome = other | class = Y\big) P(class = Y)}{P\big(age = 40\cap job = admin\cap matiral = married \cap education = secondary \cap default = yes \cap balance = 2000 \cap day = 4\cap month = jun\cap duration = 261\cap campaign = 4 \cap pday = 151\cap previous = 5\cap poutcome = other | class = Y\big) P(class = Y) + P\big(age = 40\cap job = admin\cap matiral = married \cap education = secondary \cap default = yes \cap balance = 2000 \cap day = 4\cap month = jun\cap duration = 261\cap campaign = 4 \cap pday = 151\cap previous = 5\cap poutcome = other | class = N\big) P(class = N)}$$

taking some features 

$$P(class = Y | age = 40\cap job = admin) = \frac{P(age = 40 | class = Y) P(job = admin|class = Y) P(class = Y)}{P(age = 40 | class = Y) P(job = admin|class = Y) P(class = Y) + P(age = 40 | class = N) P(job = admin|class = N) P(class = N)}$$

In [13]:
class NaiveBayesClassifier (object):
    
    def __init__(self, data, target):
        
        self.data = data
        self.target = target
        self.weights = {}
        
    def estimate_mean_std(self, a, total_sample_size = 1000, each_sample_size = 10):
        
        '''
        Estimating natural paramter of normal distribution
        '''
        
        ele_list = np.array(a)
        random_sample = np.random.choice(ele_list, size = (total_sample_size, each_sample_size))
        
        ## Estimating the value of Mean
        estimate_mean = np.mean(random_sample, axis = 1)
        best_estimate_mean = np.mean(estimate_mean)
        
        ## Taking Best estimate of standard deviation
        estimate_std = np.std(random_sample, axis = 1)
        best_estimate_std = np.mean(estimate_std)
        
        return {'mu':best_estimate_mean, 'sigma' :best_estimate_std}
    
    def estimate_bino_pValue (self, a, total_sample_size = 1000, each_sample_size = 10):
        
        '''
        Estimating natural parameter of binomial distribution
        '''
        uniques = np.unique(a)
        random_sample = np.random.choice(np.array(a), size = (total_sample_size, each_sample_size))
        prob_dict = {}
        for uni in uniques:
            val = []
            for sample in random_sample:
                val.append(np.count_nonzero(uni == sample) / each_sample_size)
            prob_dict[uni] = np.mean(val)
        return prob_dict
    
    def normal_pdf(self, x, mu, sigma):
        
        '''
        Proabability distribution function for Normal Distribution
        '''
        scale_parm = 1 / (np.sqrt(2 * np.pi) * sigma)
        shift = np.e ** -(((x - mu) ** 2) / (2 * sigma ** 2))
        return scale_parm * shift
    
    def calculate_class_prob(self):
        '''
        Calculating class probability for every class
        '''
        self.unique_classes = np.unique(self.data[self.target])
        self.class_prob = {}
        for class_val in self.unique_classes:
            self.class_prob[class_val] = np.count_nonzero(self.data[self.target] == class_val) / self.data.shape[0]

    def calculate_class_based_feature_prob(self, feature):
        
        '''
        Calculating probability for particular feature on the basis of resultant classes
        '''
        val = {}
        for classes in self.unique_classes:
            mask = self.data[self.target] == classes
            feature_now = feature[mask]
            val[classes] = self.estimate_bino_pValue(feature_now)
        return val
    
    def calculate_class_based_normal_feature(self, feature):
        val = {}
        for classes in self.unique_classes:
            mask = self.data[self.target] == classes
            feature_now = feature[mask]
            val[classes] = self.estimate_mean_std(feature_now)
        return val
    
    
    def predict(self, feature):
        
        pred = {}
        pred_class_sum = 0
        pred_class = None
        total = 0
        for classes in self.unique_classes:
            pred[classes] = {}
            sumVal = 1
            # Each feature probability......
            for key, val in feature.items():
                if key in self.weights:
                    
                    if 'mu' in self.weights[key][classes].keys():
                        pred[classes][key] = self.normal_pdf(val, self.weights[key][classes]['mu'], self.weights[key][classes]['sigma'])
                        sumVal *= pred[classes][key]
                    else:
                        pred[classes][key] = self.weights[key][classes][val]
                        sumVal *= pred[classes][key]
            pred[classes]['sum'] = sumVal
            total += sumVal
        
        posterior_prob = {}
        posterior = 0
        classes = 0
        for i in self.unique_classes:
            posterior_prob[i] = pred[i]['sum'] * self.class_prob[i] / total
            if (posterior_prob[i] > posterior):
                posterior = posterior_prob[i]
                classes = i
        return classes
    
    
    def fit(self):
        
        '''
        Fitting data for every feature
        '''
        self.calculate_class_prob()
        self.weights['age'] = self.calculate_class_based_normal_feature(self.data['age'])
        self.weights['job'] = self.calculate_class_based_feature_prob(self.data['job'])
        self.weights['marital'] = self.calculate_class_based_feature_prob(self.data['marital'])
        self.weights['default'] = self.calculate_class_based_feature_prob(self.data['default'])
        self.weights['balance'] = self.calculate_class_based_normal_feature(self.data['balance'])
        self.weights['housing'] = self.calculate_class_based_feature_prob(self.data['housing'])
        self.weights['loan'] = self.calculate_class_based_feature_prob(self.data['loan'])
        self.weights['contact'] = self.calculate_class_based_feature_prob(self.data['contact'])
        self.weights['day'] = self.calculate_class_based_feature_prob(self.data['day'])
        self.weights['month'] = self.calculate_class_based_feature_prob(self.data['month'])
        self.weights['duration'] = self.calculate_class_based_normal_feature(self.data['duration'])
        self.weights['campaign'] = self.calculate_class_based_normal_feature(self.data['campaign'])
        self.weights['pdays'] = self.calculate_class_based_normal_feature(self.data['pdays'])
        self.weights['previous'] = self.calculate_class_based_normal_feature(self.data['previous'])
        self.weights['poutcome'] = self.calculate_class_based_feature_prob(self.data['poutcome'])
        
    def predict_batch(self, data):
        
        classes = data.apply(self.predict,axis = 1)
        return classes

In [14]:
bank_data.columns

Index(['age', 'job', 'marital', 'education', 'default', 'balance', 'housing',
       'loan', 'contact', 'day', 'month', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'y'],
      dtype='object')

In [15]:
nb = NaiveBayesClassifier(x_train, 'y')

In [16]:
nb.calculate_class_prob()
nb.class_prob

{'no': 0.8826775564262458, 'yes': 0.11732244357375421}

In [17]:
nb.fit()

In [18]:
nb.weights

{'age': {'no': {'mu': 40.9497, 'sigma': 9.401876626762972},
  'yes': {'mu': 41.6707, 'sigma': 12.40011634351948}},
 'job': {'no': {'admin.': 0.11180000000000001,
   'blue-collar': 0.2223,
   'entrepreneur': 0.0327,
   'housemaid': 0.028300000000000002,
   'management': 0.20520000000000002,
   'retired': 0.0455,
   'self-employed': 0.033400000000000006,
   'services': 0.1016,
   'student': 0.0181,
   'technician': 0.1689,
   'unemployed': 0.0255,
   'unknown': 0.006700000000000001},
  'yes': {'admin.': 0.11040000000000001,
   'blue-collar': 0.1403,
   'entrepreneur': 0.024200000000000003,
   'housemaid': 0.0235,
   'management': 0.24470000000000003,
   'retired': 0.102,
   'self-employed': 0.0386,
   'services': 0.0642,
   'student': 0.0536,
   'technician': 0.15240000000000004,
   'unemployed': 0.039,
   'unknown': 0.0071}},
 'marital': {'no': {'divorced': 0.11600000000000002,
   'married': 0.609,
   'single': 0.275},
  'yes': {'divorced': 0.1134,
   'married': 0.5227999999999999,
   'single': 0.36379999999999996}},
 'default': {'no': {'no': 0.9798, 'yes': 0.0202},
  'yes': {'no': 0.9914000000000001, 'yes': 0.008600000000000002}},
 'balance': {'no': {'mu': 1310.4539000000002, 'sigma': 2019.3232221466499},
  'yes': {'mu': 1815.1323, 'sigma': 2371.1092531424474}},
 'housing': {'no': {'no': 0.42, 'yes': 0.58},
  'yes': {'no': 0.631, 'yes': 0.369}},
 'loan': {'no': {'no': 0.8280000000000001, 'yes': 0.172},
  'yes': {'no': 0.9040000000000001, 'yes': 0.096}},
 'contact': {'no': {'cellular': 0.6229,
   'telephone': 0.0663,
   'unknown': 0.31079999999999997},
  'yes': {'cellular': 0.821,
   'telephone': 0.078,
   'unknown': 0.10100000000000002}},
 'day': {'no': {1: 0.0048000000000000004,
   2: 0.0289,
   3: 0.023399999999999997,
   4: 0.028200000000000003,
   5: 0.0409,
   6: 0.043199999999999995,
   7: 0.043,
   8: 0.043,
   9: 0.033400000000000006,
   10: 0.009699999999999999,
   11: 0.0316,
   12: 0.0347,
   13: 0.033699999999999994,
   14: 0.0442,
   15: 0.038700000000000005,
   16: 0.030899999999999997,
   17: 0.0437,
   18: 0.0531,
   19: 0.0433,
   20: 0.06480000000000001,
   21: 0.0444,
   22: 0.0187,
   23: 0.022,
   24: 0.009,
   25: 0.0167,
   26: 0.022200000000000004,
   27: 0.0263,
   28: 0.0417,
   29: 0.037,
   30: 0.0327,
   31: 0.012100000000000001},
  'yes': {1: 0.0171,
   2: 0.034800000000000005,
   3: 0.0291,
   4: 0.04290000000000001,
   5: 0.04340000000000001,
   6: 0.0312,
   7: 0.033299999999999996,
   8: 0.0362,
   9: 0.0334,
   10: 0.0255,
   11: 0.0345,
   12: 0.044599999999999994,
   13: 0.041299999999999996,
   14: 0.0385,
   15: 0.047599999999999996,
   16: 0.0364,
   17: 0.0363,
   18: 0.0435,
   19: 0.023899999999999998,
   20: 0.0331,
   21: 0.0402,
   22: 0.026199999999999998,
   23: 0.0261,
   24: 0.0137,
   25: 0.0258,
   26: 0.019800000000000005,
   27: 0.0261,
   28: 0.0298,
   29: 0.024,
   30: 0.053,
   31: 0.008700000000000001}},
 'month': {'no': {'apr': 0.05959999999999999,
   'aug': 0.13360000000000002,
   'dec': 0.0036,
   'feb': 0.0587,
   'jan': 0.0314,
   'jul': 0.16490000000000002,
   'jun': 0.11470000000000001,
   'mar': 0.0048000000000000004,
   'may': 0.319,
   'nov': 0.0878,
   'oct': 0.0108,
   'sep': 0.011100000000000002},
  'yes': {'apr': 0.11010000000000002,
   'aug': 0.12500000000000003,
   'dec': 0.0224,
   'feb': 0.0885,
   'jan': 0.0269,
   'jul': 0.1275,
   'jun': 0.1038,
   'mar': 0.044700000000000004,
   'may': 0.17010000000000003,
   'nov': 0.074,
   'oct': 0.0593,
   'sep': 0.047700000000000006}},
 'duration': {'no': {'mu': 224.6065, 'sigma': 177.15458557090224},
  'yes': {'mu': 544.0772, 'sigma': 345.54303835998275}},
 'campaign': {'no': {'mu': 2.8657, 'sigma': 2.49894321148854},
  'yes': {'mu': 2.1373, 'sigma': 1.5109708286265335}},
 'pdays': {'no': {'mu': 37.3947, 'sigma': 79.00126834179882},
  'yes': {'mu': 70.5174, 'sigma': 106.29275857633553}},
 'previous': {'no': {'mu': 0.5156999999999999, 'sigma': 1.1628469729227653},
  'yes': {'mu': 1.1646999999999998, 'sigma': 1.9071036194445024}},
 'poutcome': {'no': {'failure': 0.10670000000000002,
   'other': 0.0363,
   'success': 0.012700000000000001,
   'unknown': 0.8443000000000002},
  'yes': {'failure': 0.12010000000000003,
   'other': 0.0588,
   'success': 0.1819,
   'unknown': 0.6391999999999999}}}

In [19]:
nb.weights['age']

{'no': {'mu': 40.9497, 'sigma': 9.401876626762972},
 'yes': {'mu': 41.6707, 'sigma': 12.40011634351948}}

In [20]:
nb.predict(x_test.iloc[0].to_dict())

'no'

In [21]:
pred_classes = nb.predict_batch(x_test)

In [22]:
class Score_Matrix(object):
    
    '''
    This class has all score matrix by which we can check efficiency of our algorithm on given dataset.
    '''
    
    def __init__(self, y_actual, y_pred):
        self.y_actual = y_actual
        self.y_pred = np.array(y_pred)
        
    def confusion_matrix(self):
        self.data = pd.crosstab(self.y_actual, self.y_pred, rownames= ['actual'], colnames = ['predicted'], margins = True)
        return self.data
        
    def recall(self):
        '''
        data:
            Dataframe of confusion matrix
        '''
        sumVal = 0
        self.confusion_matrix()
        for i in self.data.columns[:-1]:
            sumVal += (self.data[i][i] / self.data['All'][i])
        return np.round(sumVal / (self.data.shape[0] - 1), 3)
    
    def check_accuracy(self):
        sumVal = 0
        self.confusion_matrix()
        for i in self.data.columns[:-1]:
            sumVal += self.data[i][i]
        return np.round(sumVal / self.data['All']['All'], 3)
    
    def precision(self):
        sumVal = 0
        self.confusion_matrix()
        for i in self.data.columns[:-1]:
            sumVal += (self.data[i][i] / self.data[i]['All'])
        avg = sumVal / (self.data.shape[0]- 1)
        return np.round(avg,3)

In [24]:
sm = Score_Matrix(x_test['y'], pred_classes)

In [25]:
print ('Accuracy on test data: {}'.format(sm.check_accuracy()))

Accuracy on test data: 0.836

In [26]:
print ('Recall value on test data: {}'.format(sm.recall()))

Recall value on test data: 0.708

In [27]:
sm.confusion_matrix()

predicted    no   yes   All
actual
no         6939   993  7932
yes         475   562  1037
All        7414  1555  8969